body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: url("/images/backgrounds/background.jpg") no-repeat center center
    fixed;
  background-size: cover;
  height: 100vh;
}

#navbar {
  background: none;
  color: rgb(4, 4, 4);
  padding: 10px 0;
  position: fixed;
  left: 0;
  top: 30%;
  bottom: 0;
  width: 20%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  z-index: 1;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#navbar li a {
  display: block;
  color: rgb(13, 12, 12);
  text-decoration: none;
  padding: 15px 20px;
  text-shadow: 1px 1px 2px black;
  font-size: 22px;
}

#navbar li a:hover {
  background: rgba(247, 247, 247, 0.9);
  border-radius: 5px;
}

#header {
  padding: 60px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 1px;
}

#header h1 {
  font-size: 2em;
}

#header p {
  text-shadow: 1px 1px 3px #000;
}

.buttons button {
  background: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #000;
}

.contact-form-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdd3d5;
  border-radius: 5px;
  box-sizing: border-box;
  background: rgba(251, 251, 251, 0.9);
}

button[type="submit"] {
  padding: 10px 15px;
  background-color: #0fdd79;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .contact-form-container {
    width: 90%;
    margin: 20px auto;
  }
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
  margin-top: -20px;
}

.team-member {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 300px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.team-member:hover {
  transform: translateY(-10px);
}

.team-photo {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  margin-bottom: 5px;
}

.title {
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.description {
  font-size: 14px;
  margin-bottom: 15px;
}

.social-links {
  text-align: center;
  margin-top: 15px;
}

.social-links a {
  display: inline-block;
  margin: 0 5px;
}

.social-links img {
  width: 24px;
  height: auto;
}

.blog-posts {
  margin: 30px 0;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.post {
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  flex: 0 0 calc(32% - 50px); /* Postlar arasındaki boşluğu ekledik */

  margin-left: 200px; /* Burada sola 50px'lik boşluk ekledik */
  padding: 15px;
}

.post-image {
  width: 100%;
  height: auto;
  display: block;
}

.post-content {
  padding: 15px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.post:last-child {
  margin-right: 0;
}

.post-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.post-excerpt {
  font-size: 16px;
  line-height: 1.6;
}
